<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon_io(1)/favicon.ico' %}" />
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        h2 {
            text-align: center;
        }
        .table-responsive {
            margin-bottom: 1.5rem;
        }
    </style>
</head>

<body>
    <header>
        <div class="cont_header">
            {% include "header_ul1.html" %}
            <div class="cont_header_down">
                <nav class="cont_header_down_nav">
                    <ul class="cont_header_down_list list--none">
                        <li><a class="cont_header_down_nav_link" href="{% url 'index' %}">
                                <p>Inicio</p>
                            </a></li>
                        <li><a class="cont_header_down_nav_link" href="{% url 'productos' %}">
                                <p>Productos</p>
                            </a></li>
                        <li><a class="cont_header_down_nav_link" href="{% url 'sobre_nosotros' %}">
                                <p>Sobre nosotros</p>
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="container my-5">
        <!-- Módulo de Productos -->
        <div class="table-responsive">
            <h2>Lista de Productos</h2>
            <table class="table table-bordered">
                <thead class="table-warning text-center">
                    <tr>
                        <th colspan="4" class="font-weight-bold">CARRITO</th>
                    </tr>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% if request.session.carrito.items %}
                    {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td class="text-center">
                            <img src="{{ value.imagen }}" alt="" style="max-width: 60px;">
                        </td>
                        <td>{{ value.nombre }}</td>
                        <td>{{ value.precio }}</td>
                        <td>
                            {{ value.cantidad }}
                            <br>
                            <a href="{% url 'agregar1' value.id_producto %}" class="badge bg-primary">+</a>
                            <a href="{% url 'restar' value.id_producto %}" class="badge bg-warning">-</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            <div class="alert alert-info font-weight-bold">Sin Productos</div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Módulo de Dinero -->
        <div class="table-responsive">
            <h2>Detalles del Carrito</h2>
            {% if request.session.carrito.items %}
            <table class="table table-bordered">
                <thead class="table-warning text-center">
                    <tr>
                        <th>Código</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td>{{ value.id_producto }}</td>
                        <td>{{ subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="text-center">
                        <th colspan="2" class="font-weight-bold table-warning">IVA</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">{{ subtotal_iva }}</td>
                    </tr>
                    <tr class="text-center">
                        <th colspan="2" class="font-weight-bold table-warning">Total</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">{{ total }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'limpiar' %}" class="btn btn-outline-warning w-100 me-2">Limpiar</a>
                                <a href="{% url 'generarBoleta' %}" class="btn btn-outline-primary w-100">Comprar</a>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            {% else %}
            <div class="alert alert-info text-center font-weight-bold">Sin Productos</div>
            {% endif %}
        </div>
    </main>

    {% include "footer.html" %}
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>