<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon_io(1)/favicon.ico' %}" />
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <style>
        #m_correo {
            color: blue;
            cursor: pointer;
        }

        #m_correo:hover{
            color: rgb(67, 67, 255);
        }
    </style>
</head>
<body>

    <header>
        <div class="cont_header">
            {% include "header_ul1.html" %}
            <div class="cont_header_down">
                <nav class="cont_header_down_nav">
                    <ul class="cont_header_down_list list--none">
                        <li><a class="cont_header_down_nav_link" href="{% url 'index' %}">
                                <p>Inicio</p>
                            </a></li>
                        <li><a class="cont_header_down_nav_link" href="{% url 'productos' %}">
                                <p>Productos</p>
                            </a></li>
                        <li><a class="cont_header_down_nav_link" href="{% url 'sobre_nosotros' %}">
                                <p>Sobre nosotros</p>
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="container">
        <br>
        <h2>Perfil de {{ usuario.username }}</h2>
        <br>
        <br>
        <p>Nombre: {{ usuario.first_name }} {{ usuario.last_name }}</p>
        <br>
        <p>
            Email: {{ usuario.email }}
            <div id="m_correo">Modificar</div>
            <div id="input_container" style="display: none;">
                <form id="email_form" method="POST" action="{% url 'actualizar_email' %}">
                    {% csrf_token %}
                    <input type="email" name="email" class="form-control" style="padding: 0.5rem;" placeholder="Ingrese su correo electrónico" id="email_input" required>
                    <button type="submit" class="btn btn-success" style="margin-top: 1rem;">Modificar</button>
                </form>
            </div>
        </p>
        <br>
        <br>
        <br>
        <!-- Agrega cualquier otra información del perfil que desees mostrar P.D (pensando que mas mostrar) -->

    </main>

{% include "footer.html" %}

</body>

<script>
    let modif = document.getElementById('m_correo');
    let inputContainer = document.getElementById('input_container');
    
    modif.addEventListener('click', function() {
        if (inputContainer.style.display === 'none') {
            // Crear el campo de entrada de tipo email si no existe
            if (!document.getElementById('email_input')) {
                let emailInput = document.createElement('input');
                emailInput.type = 'email';
                emailInput.className = 'form-control';
                emailInput.style.padding = '0.5rem';
                emailInput.placeholder = 'Ingrese su correo electrónico';
                emailInput.id = 'email_input';

                // Agregar el campo de entrada al contenedor
                inputContainer.appendChild(emailInput);

                // Crear el botón de modificar
                let btn = document.createElement('button');
                btn.textContent = 'Modificar'; // Asignar texto al botón
                btn.className = 'btn btn-success'; // Asignar clase al botón para estilos

                // Agregar el botón al contenedor
                inputContainer.appendChild(btn);

                // Evento de clic para el botón
                btn.addEventListener('click', function() {
                    let i_email = document.getElementById('email_input');
                    console.log(i_email.value);
                });
            }
            inputContainer.style.display = 'block';
        } else {
            inputContainer.style.display = 'none';
        }
    });
</script>
</html>

