<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Productos</title>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon_io(1)/favicon.ico' %}" />
  <!-- <link rel="icon" type="image/x-icon" href="img/favicon_io/favicon.ico"> -->
  <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body onload="pag()">
  <header>
    <div class="cont_header">
      
      {% include "header_ul1.html" %}

      <div class="cont_header_down">
        <nav class="cont_header_down_nav">
          <ul class="cont_header_down_list list--none">
            <li>
              <a class="cont_header_down_nav_link" href="{% url 'index' %}">
                <p>Inicio</p>
              </a>
            </li>
            <li>
              <a class="cont_header_down_nav_link link_activo" href="{% url 'productos' %}">
                <p>Productos</p>
              </a>
            </li>
            <li>
              <a class="cont_header_down_nav_link" href="{% url 'sobre_nosotros' %}">
                <p>Sobre nosotros</p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- .cont_header -->
  </header>

  <main>
    <div>
      <div class="center">
        <h1>Productos</h1>
      </div>
      <div class="contenedor__items" id="contenedor_cartas">
        {% for p in producto %}
        <div class="card">
          <a href="{% url 'producto' p.id_producto %}" class="link_card">
          <img src="{{ p.imagen.url }}" class="card-img-top" alt="..." />
          <div class="card-body">
          <h5 class="card-title">{{ p.nombre }}</h5>
          <div class="precio">
              <p>
                Precio:
                <span> {{ p.precio }} </span>
              </p>
          </div>
          </div>
          <span class="mensaje">
            {{ p.descripcion }}
          </span>
          </a>
          </div>
        {% endfor %}
        

      </div>
    </div>
  </main>

  {% include "footer.html" %}

  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/indexAPIRES.js' %}"></script>

</body>

</html>